/* Variables */
:root {
    --agc-color-white: white;
    --agc-color-gray: gray;
    --agc-color-black: black;
    --agc-color-light-gray: #F0F0F0;
    --rs-color-main: #062030; 
    --agc-font-s-large: 1.2rem;
    --agc-font-s-med: 1rem;
    --agc-font-s-small: 0.9rem;
    --agc-app-width: 80%;
    --agc-border-r: 5px;
    --agc-padding-content: 10px;
    --agc-padding-content-s: 5px;
    --agc-margin-t: 15px;
    --agc-margin-bottom: 10px;
    --agc-padding-btn: 8px;
}

/* App */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: var(--agc-color-light-gray);
}

main {
    background-color: white;
    width: var(--agc-app-width);
    margin: 4px auto;
    border: 1px solid var(--agc-color-gray);
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    border-bottom: 1px solid var(--agc-color-gray);
}

#header-logo-bundle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

#header-logo-text {
    font-size: var(--agc-font-s-large);
    margin-bottom: 2px;
}

#header-nav {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#header-nav-bar > li {
    list-style-type: none;
}

#header-nav-bar >li:nth-of-type(2) {
    margin-right: 10px;
}

#header-nav-bar > li > a {
    color: var(--agc-color-black);
    text-decoration: none;
}

#header-nav-bar > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Heading */
h1 {
    text-align: center;
    margin-top: 30px;
}

/* Data entry */
#data-section {
    border: 1px solid var(--agc-color-gray);
    border-radius: var(--agc-border-r);
    width: 60%;
    margin: 20px auto 0 auto;
    background-color: var(--agc-color-light-gray);
    box-shadow: 0 0 3px 3px var(--agc-color-light-gray);
}

#data-section-title {
    border: 1px solid black;
    border-radius: var(--agc-border-r);
    background-color: var(--rs-color-main);
    color: var(--agc-color-white);
    text-align: center;
    margin: 3px;
    padding: 4px;
}

#data-container {
    margin-top: var(--agc-margin-t);
}

#data-entry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#item-score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: var(--agc-margin-t);
}

#item {
    width: 140px;
}

#score {
    width: 60px;
}

#data-set-container {
    margin-top: var(--agc-margin-t);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#data-set {
    margin: var(--agc-margin-t) 0;
    padding: var(--agc-padding-content-s);
    width: 95%;
}

#add-clear-more-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: var(--agc-margin-t);
}

#add, #clear {
    border: 0;
    padding: var(--agc-padding-btn);
    background-color: var(--agc-color-white);
}

#add:hover, #clear:hover {
    cursor: pointer;
}

/* Media queries */
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;       
    }
}

@media only screen and (max-width: 800px) {
    /* Header */
    #header-logo {
        width: 40px;
        height: 35px;
    }

    #header-logo-text {
        font-size: var(--agc-font-s-med);
    }

    #header-nav-bar > li > a {
        font-size: var(--agc-font-s-med);
    }
}

@media only screen and (max-width: 650px) {
    /* Header */
    #header-logo {
        width: 35px;
        height: 30px;
    }

    #header-logo-text {
        font-size: var(--agc-font-s-small);
    }

    #header-nav-bar > li > a {
        font-size: var(--agc-font-s-small);
    }

    /* Heading */
    h1 {
        font-size: var(--agc-font-s-large);
    }
}

@media only screen and (max-width: 530px) {
    /* Header */
    #header-logo {
        width: 35px;
        height: 30px;
    }

    #header-logo-text {
        display: none;
    }

    #header-nav-bar > li > a {
        font-size: var(--agc-font-s-small);
    }

    /* Heading */
    h1 {
        font-size: var(--agc-font-s-med);
    }
}

@media only screen and (max-width: 500px) {
    /* Header */
    #header-logo {
        width: 35px;
        height: 30px;
    }

    #header-nav-bar > li > a {
        font-size: var(--agc-font-s-small);
    }
}

